body{
    background-color: antiquewhite;
    font-family: Calibri;
}
h1{
    color: cadetblue;
    text-align: center;
    
}
p{
    font-size: 14pt;
    
}
h3{
    font-size: 16pt;
    
}
.fonte{
    color:red;
}
a{
    text-decoration: none;
}
a:hover{
    color:magenta;
    background-color: yellow; 
}
a:link{
    color: white;
}

a:visited{
    color:gray;
}
table, td, th{
    padding: 7px;
    border-color: black;
    border-style: solid;
    border-width: 3 px;
    border-collapse: collapse;
}
td, th{
    text-align: center;
}
.imagem{
    width: 400px;
    margin: 0 auto;
    padding: 7px;
}
.imagem img{
    width: 100%;
    
}